# this config needs haproxy-1.1.28 or haproxy-1.2.1

global
	log 127.0.0.1	local0
	log 127.0.0.1	local1 notice
	#log loghost	local0 info
	maxconn 4096
	chroot /opt/haproxy/share/haproxy
	uid 99
	gid 99
	daemon
	#debug
	#quiet
        stats socket /opt/haproxy/haproxysock level admin

defaults
	log	global
	mode	http
	option	httplog
	option	dontlognull
	retries	3
	redispatch
	maxconn	2000
	contimeout	5000
	clitimeout	50000
	srvtimeout	50000

frontend web1
	mode http
	option httpclose
	option forwardfor
	bind *:80
	default_backend wc-all

backend wc-all
	balance roundrobin
         
<%
@plan['IaaS']['VMs']['nodes'].each do | node |
  node['recipes'].each do | recipe |
   if (recipe['cookbook']=="WebPool" and (recipe['name']=="apache" or recipe['name']=="nginx"))
%>
  server <%=node['node-id']%> <%=node['node-id']%>:80 check
<%
   end
  end
end
%>

